<ul>
  <li>
    <a [routerLink]="'/demo'">Demo</a>
  </li>
  <li>
    <a [routerLink]="'/demo-form'">Demo Form</a>
  </li>
  <li>
<!--    href (temporaire avant les observables) -->
    <a [href]="'/demo-route/1'">Demo route 1</a><br/>
    <a [href]="'/demo-route/2'">Demo route 2</a>
  </li>
  <li>
    <a [routerLink]="'/exercices/exo1'">Exo1</a>
  </li>
  <li>
    <a [routerLink]="'/exercices/exo2'">Exo2</a>
  </li>
  <li>
    <a [routerLink]="'/exercices/exo3'">Exo3</a>
  </li>
  <li>
    <a [routerLink]="'/exercices/exo4'">Exo4</a>
  </li>
  <li>
    <a [routerLink]="'/exercices/exo5'">Exo5</a>
  </li>
</ul>

<router-outlet>
</router-outlet>
